div{
    background-color: grey;
    display: inline-block;
}

h1{
    background-color: red;
    display: block;
}

p{
    background-color: orange;
    display: block;
}
span{
    background-color: yellow;
    display: block;
}
